Repository Global-Chem/private-workers, pull requests merged in 2023-07, with the labels that each got.

#182 Create chemical_list.csv
  machine_learning_operations/cannabis/chemical_list.csv
Labels: ml_cannabis

#199 Update faith_cannabis.yml
  .github/workflows/faith_cannabis.yml
Labels: cannabis_ml

#208 Create fetch_training_set.py
  machine_learning_operations/cannabis/fetch_training_set.py
Labels: enhancement

#209 Update faith_cannabis.yml
  .github/workflows/faith_cannabis.yml
Labels: enhancement

#212 Create __init__.py
  machine_learning_operations/performance_enhancements/__init__.py
Labels: enhancement

#217 Update README.md
  README.md
Labels: enhancement

#216 Create performance_enhancements workflow
  .github/workflows/performance_enhancements
Labels: enhancement

#239 Update fetch_training_set.py
  machine_learning_operations/cannabis/fetch_training_set.py
Labels: bug
